.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}


body {
    background: linear-gradient(rgba(255,255,255, 0) .9em, rgba(0, 0, 0, .15) 1em) 0 0, linear-gradient(90deg,rgba(255,255,255, 0) .9em, rgba(0, 0, 0, .15) 1em) 0 0;
    background-size: 1em 1em;
    background-color: ivory;
    }